
@{
    ViewBag.Title = "Feature";
    Layout = "~/Views/Shared/_LayoutAlt.cshtml";
}

<div class="jumbotron" id="inherit-background">
    <h2 id="top-padding">Under Construction...</h2>

</div>

