@{
    Layout = "~/Views/Shared/_LayoutAlt.cshtml";
}

@{ 
    ViewBag.Title = "ProjectHomePage";
}

<div class="jumbotron" id="inherit-background">
    
    @*<p class="lead" id="top-padding">Words, words and more words.  blalalalalalalalah blah blah</p>*@

</div>

