@model IEnumerable<AdamsFirstMVC.Models.BandImage>
@{
    ViewBag.Title = "Bands";
    Layout = "~/Views/Shared/_LayoutMandMHome.cshtml";
}


<div class="jumbotron" id="inherit-background">
    <h1>
        Bands:
    </h1>
</div>


<div id="smaller-content-helper" class="Band-content-helper">

    @foreach (var item in Model)
    {
        <div class="row">
            <h2>@item.BandImageName</h2>
            <div class="col-lg-12 col-sm-12 col-xs-12">
                @* replace the # symbols below with a url to have them link to another page or site. *@
                <a href="@item.BandHref">
                    <img src="@item.BandImageSrc" alt="@item.BandImageAlt" class="thumbnail img-responsive">
                </a>
            </div>
        </div>
    }
 
    
</div>
<div id="larger-content-center-helper" class="Band-content-helper">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <img src="../../images/Example1024WithAreas.png" class="thumbnail img-responsive" usemap="#collageMap">
            <map name="collageMap">
                <area class="area1" shape="rect" coords="87,114,244,202" href="http://www.google.com" alt="Google" />
                <area class="area1" shape="rect" coords="318,219,544,366" href="http://www.yahoo.com" alt="Yahoo" />
                <area class="area1" shape="rect" coords="117,474,306,575" href="http://www.hotmail.com" alt="Hotmail" />
                <area class="area1" shape="rect" coords="595,493,866,630" href="http://www.gmail.com" alt="gmail" />
            </map>
        </div>
    </div>
</div>

