@{
    ViewBag.Title = "Bands";
    Layout = "~/Views/Shared/_LayoutMandMHome.cshtml";
}

@section scripts
{
    <script>
        $(document).ready(function () {
                $(".jumbotron").hide();
        });
    </script>
}


<div class="jumbotron" id="inherit-background">
    <h1>
        Bands:
    </h1>
    <button>Click me</button>
</div>
<div id="smaller-content-helper" class="Band-content-helper">
    <div class="row">
        <h2>Acoustic Saints</h2>
        <div class="col-lg-12 col-sm-12 col-xs-12">
            @* replace the # symbols below with a url to have them link to another page or site. *@
            <a href="#">
                <img src="../../images/13730988_211766675887877_986217828283931809_o.jpg" class="thumbnail img-responsive">
            </a>
        </div>
    </div>
    <div class="row">
        <h2>Ellwood City Band</h2>
        <div class="col-lg-12 col-sm-12 col-xs-12">
            @* replace the # symbols below with a url to have them link to another page or site. *@
            <a href="#">
                <img src="../../images/Ellwood2.jpg" class="thumbnail img-responsive">
            </a>
        </div>
    </div>
    <div class="row">
        <h2>Game Face</h2>
        <div class="col-lg-12 col-sm-12 col-xs-12">
            @* replace the # symbols below with a url to have them link to another page or site. *@
            <a href="#">
                <img src="../../images/13668737_1230873603623735_8560807734309575763_o.jpg" class="thumbnail img-responsive">
            </a>
        </div>
    </div>
    <div class="row">
        <h2>Rachel's Ransom</h2>
        <div class="col-lg-12 col-sm-12 col-xs-12">
            @* replace the # symbols below with a url to have them link to another page or site. *@
            <a href="#">
                <img src="../../images/13083336_10207551416995773_4912061311993510710_n.jpg" class="thumbnail img-responsive">
            </a>
        </div>
    </div>
    <div class="row">
        <h2>Standing Room Only</h2>
        <div class="col-lg-12 col-sm-12 col-xs-12">
            @* replace the # symbols below with a url to have them link to another page or site. *@
            <a href="#">
                <img src="../../images/12974355_693471794089697_7994384813023512175_n.jpg" class="thumbnail img-responsive">
            </a>
        </div>
    </div>
    <div class="row">
        <h2>Wingnuts</h2>
        <div class="col-lg-12 col-sm-12 col-xs-12">
            @* replace the # symbols below with a url to have them link to another page or site. *@
            <a href="#">
                <img src="../../images/14067747_377606525696656_3871842971945469923_o.jpg" class="thumbnail img-responsive">
            </a>
        </div>
    </div>
</div>
<div id="larger-content-center-helper" class="Band-content-helper">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            @* replace the # symbols below with a url to have them link to another page or site. *@
            <a href="#">
                <img src="../../images/Example1024WithAreas.png" class="thumbnail img-responsive" usemap="#collageMap">
                <map name="collageMap">
                    <area class="area1" shape="rect" coords="87,114,244,202" href="http://www.google.com" alt="Google" />
                    <area shape="rect" coords="318,219,544,366" href="http://www.yahoo.com" alt="Yahoo" />
                    <area shape="rect" coords="117,474,306,575" href="http://www.hotmail.com" alt="Hotmail" />
                    <area shape="rect" coords="595,493,866,630" href="http://www.gmail.com" alt="gmail" />
                </map>
            </a>
        </div>
    </div>
</div>

