@{
    ViewBag.Title = "About M&M Productions";
    Layout = "~/Views/Shared/_LayoutMandMHome.cshtml";
}

<div class="jumbotron" id="inherit-background">
    <h2 class="lead" id="top-padding">M&M Productions is an event planning company that specializes in organizing charity events.  
    M&M Productions also supports, promotes and believes in local music and local musicians.<br/>
        <br />
     We serve as a part time booking agent for several popular and incredibly talented local artists.  
    The money made goes directly into funding the cost of organizing the charity events we host.  
    This is how we make a difference making music. <br/>
        <br />
    Our charity events always feature local musicians who generously donate their time and talent to help worthy causes.</h2>

</div>
